body{
    padding: 0;
    margin: 0;
}

/* here starts the header styles */
#header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 8em;
    padding: 0;
    margin: 0;
}

#header_content {
    display: flex;
}
#search_form{
    
}
#form{
    display: flex;
    height: 2em;
    border-width: thin;
    border-color: lightgray;
    border-radius: 20px;
    border-width: .1em;
    border-style: solid;
    border-color: lightgray;
}

#form input{
    border-style: none;
    background-color: #ffffff;
    border-radius: 100%;
}

input:focus {
    outline: none;
    padding: 0;
}

#title {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}

#title a img{
    height: auto;
    width: 3em;
}

#bar {
    width: 100%;
    height: .08em;
    background-color: #ddd;
}

/* here starts the header styles */