body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

a {
  text-decoration: none;
  color: gray;
}

/* here starts the header styles */
#header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 8em;
  padding: 0;
  margin: 0;
  border-bottom: solid 0.1em lightgray;
}

#header_content {
  display: flex;
  align-items: center;
  height: 100%;
}

#search {
  flex-grow: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#search_form {
  width: auto;
  flex-grow: 1;
}

#form {
  display: flex;
  height: 2.5em;
  margin-top: 1.5em;
  border-width: thin;
  border-color: lightgray;
  border-radius: 1.5em;
  border-width: 0.1em;
  border-style: solid;
  border-color: lightgray;
}

#form input {
  border-style: none;
  border-radius: 1.5em;
  padding: 1.25em 0 1.25em 1.25em;
  flex-grow: 4;
}

#form button {
  background: none;
  outline: none;
  margin: 0;
  border-style: none;
  border-radius: 100%;
}

#form button img {
  height: 1.5em;
  width: auto;
  padding: 0.5em;
}

#form button img:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
  padding: 0;
}

#title {
  margin: 0.75em 0 0 1em;
  padding: 0;
  flex-grow: 1;
  align-self: start;
}

#title a img {
  height: 0.85em;
}

#user {
  flex-grow: 10;
  display: flex;
  align-items: center;
  align-self: start;
  justify-content: flex-end;
  margin-top: 1em;
}

#user_apps a img {
  display: block;
  width: 1.75em;
  padding: 1em;
}

#user_account a img {
  display: block;
  width: 2em;
  padding: 0 1.5em 0 0;
}

#search_options {
  display: flex;
  flex-direction: row;
}

#search_options a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

#search_options a:hover {
  border-bottom: solid 0.15em #3062fa;
}

#search_options a img {
  height: 0.85em;
  width: auto;
  margin: 0.5em;
}

#more_img {
  margin: 0;
}
/* here ends the header styles */

/* here starts the main styles */

#main {
  display: grid;
  grid-template-columns: 12% 45% 45%;
}
#results {
  grid-column-start: 2;
  grid-column-end: 3;
}

.all_pages {
  font-size: 1em;
  color: #aaa;
  padding: 0;
  margin: 0.75em 0 1em 0;
}

.result_page {
  margin: 1em 0 2em 0;
  width: 90%;
}
.page {
  color: #000;
}
.translate {
  color: #161896;
}
.translate:hover {
  text-decoration: underline;
}
.result_page h2 {
  font-size: 1.25em;
  padding: 0.25em 0 0.25em 0;
  margin: 0;
}
.result_page h2 a {
  color: #161896;
}
.page_text {
  color: rgb(59, 59, 59);
  padding: 0;
  margin: 0.25em 0 0 0;
}

.related_question {
  border: solid thin lightgray;
  border-radius: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 2em;
}

.related_question h2 {
  padding: 0;
  margin: 0.45em;
  font-size: 1.25em;
  font-weight: normal;
  color: rgb(24, 24, 24);
}

.related_question a {
  border-top: solid thin lightgray;
  color: rgb(24, 24, 24);
  display: block;
  padding: 0.75em;
  margin: 0;
}

.related h2 {
  font-size: 1.25em;
  font-weight: normal;
  color: rgb(24, 24, 24);
}

.related_search {
  display: flex;
}
.col_a {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

.col_b {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}
.go_to {
  padding: 0.25em 0 0.25em 0;
}
.go_to a {
  color: #161896;
  padding-right: 1.5em;
}
